*{
       /* margin-left: 140px;margin-right: 140px; */
       /* margin-left: 240px; */
       /* margin-right: 240px; */
       }
       /* picture 1 */
       
       .h-pic{
              /* margin-top: 40px; */
              text-align: center;
              /* width: 1320px; */
              /* height: px; */
              /* margin-left: 10px; */
       
       }
       .h-in-pic{
              width: 1320px;
              height: 600px;
              /* margin-left: 230px; */
       }
       /* .picture1 done */
       
       /* picture 2 */
       .overall-h-div{
              width: 803px;
              height: 806px;
              text-align: center;
              
              /* margin-left: 2029px; */
              /* margin-bottom: 40px; */
              margin: 0% auto;
       
       }
       .header-title{
       
              font-size: 88px;
              font-weight: bold;
              color: #FF0000;
              margin-top: 48px;
       }
       .header-inside-title-1{
              color: #FF0000;
              font-size: 24px;
              font-weight: bold;
       }
       .header-inside-title-2{
              font-size: 48px;
              font-weight: bold;
              color: #070211;
       
       }
       .h-in-pic2{
              height: 500px;
              width: 803px;
       
       
       }
       /* picture 2 done */
       /* picture 3 start */
.overall-h-div2{
    /* align-items: center;    */
    border-radius: 16px;

/* background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */

background-image: url(../images/Vectorrr.png);
display: flex;
/* margin-top: 40px; */
              /* text-align: center; */
              background-repeat: no-repeat;
              /* margin-left: 300px; */
              /* padding: 68px 140px ; */
              width: 1320px;
              height: 600px;
              ;
              border-radius: 16px;
              margin: 0% auto;
              

/* background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%); */

}
.header-title2{
     font-size: 64px; 
     color: #FFFFFF;
     width: 642px; 
     height: 176px;
     margin-bottom: 24px;
     margin:150px;
     margin-bottom: 0%;
}
.header-title22223{
       width: 697px;
       height: 60px;
       color: #FFFFFF;
       font-size: 18px;
       margin-left: 150px;


}
.join{
       width: 103px;
       height: 24px;
       color: #FFFFFF;
       font-size: 20px;
       margin-left: 200px;


}
/* .overall-h-div2{ */
       padding: 84px;
       /* padding: left 50px; ; */
       /* padding-right: 100px; */
       
}
.overall-h-div2-texts{
       /* padding-left: 130px; */
}
.h-in-pic3{
       width: 279.82px;
       height: 404px;
       margin-top: 100px;
       /* margin-left: 100px; */
       /* padding-right: 100px; */
       
}
/* pictures 3 is completed */
/* 4444444 is starating4444444444 */
.main-div1{
       width: 1320px;
       height: 482px;
       margin: 0% auto;
       /* background-color:rgba(255, 0, 0, 0.1); */
       text-align: center;
       /* padding:100px  385px 110px 385px; */
       /* align-items: center; */
       /* border-radius: 15px; */
       border-radius: 16px;
       margin-top: 40px;

       background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
       

}
.inside-main-div{
       /* width: 549px; */
       /* height: 272px; */
       /* margin:100px  385px 110px 385px; ; */
       /* align-items: center; */
       /* margin-top: 200px; */
       /* margin-top: 385px; */
       padding-top: 110px;
}
.main-div-text{
       /* margin: top 385px; ; */
       color: #FF0000;
       font-weight: 700;
       font-size: 32px;
       

}

.inside-btn{
       background-color: #FF0000;
       color: #FFFFFF;
       font-size: 20px;
       font-weight: bold;
       width: 167px;
       height: 57px;
       background-color: #FF0000;
       color: #FFFFFF;
       font-size: 20px;
       font-weight: bold;
       border-radius: 5px;
}
/* .btn{ */
       width: 167px;
       height: 57px;
       background-color: #FF0000;
       color: #FFFFFF;
       font-size: 20px;
       font-weight: bold;
}
